# Python virtual environment
venv/
src/


# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE or editor directories
.vscode/
.idea/

# Other editor files
*.suo
*.ntvs_analysis.dat
*.ncb
*.swp
*.swo
data/*.log

# System files (optional, if applicable)
.DS_Store
Thumbs.db

# Ignore the argos-translate directory and logs
argos-translate
